footer {
  position: relative;

  display: flex;
  flex-direction: column;

  height: 100vh;

  background: linear-gradient(rgba(255, 255, 255, 0), rgba(169, 169, 169, 1), rgba(255, 0, 0, 0));

  font-family: 'Open Sans Condensed', sans-serif;

  justify-content: center;
  align-items: center;
}
footer h2 {
  /* margin-top: 40px; */
  margin-bottom: 20px;

  font-size: 50px;
  font-weight: 500;
}
footer p{
  width: 400px;
  margin-top: 10px;

  text-align: inherit;

  font-size: 25px;
}
.fr1 {
  left: 80px;

  width: 445px;

  transform: rotate(10deg);
}
.sec2 {
  right: 60px;

  width: 460px;

  transform: rotate(-15deg);
}
.s1 {
  bottom: 170px;
  left: 100px;
}
.s2 {
  top: 180px;
  right: 320px;

  transform: rotate(-15deg);
}
